<ng-container >
  <footer>
    <div class="footer">
      <div class="container">
        <div class="flex-sa-col right font-black">
          <img src="assets/images/Logotipo-white.png" width="120px" alt="">
        </div>
        <div>
          <a style="color: #747474" href="mailto:estudiocasa72@gmail.com">
            <img style="margin-right: 0.5rem" width="25px" src="assets/images/envelope.png" alt="envelope">
            estudiocasa72@gmail.com</a>
          <div class="flex-cc gap-2">
            <a href="">Terms of Use</a>
            <a href="">Privacy Policy</a>
          </div>
        </div>
      </div>
      <div class="bottom">
        <div>Estúdio casa  72 © All rights reserved.</div>
      </div>
      <div class="powered">
        <div>Powered by <a href="">Few Company</a></div>
      </div>
    </div>
  </footer>
</ng-container>
