<ng-container>
  <div class="fixed h-60 shadow" style="display: flex; align-items: center">
    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="font-black flex-cc"><img src="assets/images/Logotipo-black.png" width="120px" alt=""></div>
        </div>
        <div class="col-md-3 flex-cc click" >
          <a href="https://www.estudiocasa72.com.br/" class="font-default"><img width="30px" src="assets/images/shop.png" alt="Shopping"></a>
        </div>
      </div>
    </div>
  </div>
</ng-container>
