<ng-container>
  <div class="panel">
    <div [ngClass]="isMobile ? 'flex-sb-col gap-2' : 'flex-sa'">
      <img
        class="fade-in"
        [ngClass]="isMobile ? 'picture-mobile' : 'picture'"
        src="assets/images/weed-2.jpeg"
        alt="Cannabis plant"
      />
      <p [ngClass]="isMobile ? 'text-mobile p-1' : 'text'" class="">
        Mussum Ipsum, cacilds vidis litro abertis. Praesent malesuada urna nisi,
        quis volutpat erat hendrerit non. Nam vulputate dapibus.Quem manda na
        minha terra sou euzis!Cevadis im ampola pa arma uma pindureta.Aenean
        aliquam molestie leo, vitae iaculis nisl.
      </p>
    </div>
  </div>
</ng-container>
